<section id="alumnos" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let alumno of alumnos">
        <div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                  <img class="img-fluid" src="assets/ledos.png" alt="{{alumno.nombreC}}" >
              </p>
              <h5 routerLink="/alumno/{{alumno.id}}" class="card-title">{{alumno.nombreC}}</h5>
              <p class="">
                {{alumno.direccion}}
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-light">
                  {{alumno.peso}}kg
                </p>
                <p class="badge badge-light">
                  {{alumno.sexo}}
                </p>
              </div>

              <div class="container-precio-idioma">
                  <p class="badge badge-light">
                    {{alumno.edad}} años
                  </p>
                  <p class="badge badge-light">
                    Victorias/Derrota/Empate:
                    {{alumno.gano}}-{{alumno.perdio}}-{{alumno.empate}}
                  </p>
                </div>
              <a href="{{alumno.enlace}}" class="btn btn-block btn-light" target="_blank">Enlaces</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>