
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 ">

    
  
    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-3 leter">
          <h3>Artes Marciales Mixtas</h3>
       
            <p class="leter">El club de pelea te invita a formar parte de su equipo con profesores certificados y 
                calificados, la mejor opcion en Tepeaca para entrenar artes marciales mixtas.</p>
          </div>
        <!-- Grid column -->
        </div>
    <hr>
  
    <!-- Copyright -->
    <div class=" leter footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/">SYSTEM WORD S.A. DE C.V.</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer 
  
  https://mdbootstrap.com/docs/jquery/navigation/footer/
  -->