 .navbar{
   
    background-color: #000000;
    
}  
.nav-item{
    color: white;
    font-size:  110%;
    font-style: unset;
}
.navbar-brand{
    color: white;
    font-size: 170%;
    font-style: unset ;

}

  img {
    height: 50px;
    width: 50px;
  }
 
