<header class="masthead" >
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Artes Marciales Mixtas</div>
        <div class="intro-heading text-uppercase">Ranking Ledos Team</div>
      </div>
    </div>
  </header>


<!-- Services -->
<section class="page-section mt-5" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Servicios</h2>
        <h3 class="section-subheading text-muted">Conoce nuestras 3 Diciplinas de Artes Marciales Mixtas</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 mt-3">
        <!-- <span class="fa-stack fa-4x">
            <img src="../../../assets/kick.png" >
        </span> -->
        <h4 class="service-heading">Kick Boxing</h4>
        <p class="text-muted">El kick boxing es un deporte de combate de origen japonés y desarrollo
           occidental, en el cual, se mezclan las técnicas del boxeo con las técnicas de patadas de 
           algunas artes marciales como el karate y el muay thai, estando así relacionado de las artes 
           marciales de oriente. </p>
      </div>
      <div class="col-md-4 mt-3">
        <!-- <span class="fa-stack fa-4x">
            <img src="../../../assets/mma.png" >
        </span> -->
        <h4 class="service-heading">MMA</h4>
        <p class="text-muted">
          Las artes marciales mixtas (conocida frecuentemente por sus siglas en inglés 
          MMA, de Mixed martial arts) son la combinación de técnicas provenientes de 
          distintas artes marciales y deportes de combate, generalmente se usa para 
          la competición en el deporte de combate pero también para la defensa personal.
        </p>
      </div>
      <div class="col-md-4 mt-3">
        <!-- <span class="fa-stack fa-4x">
            <img src="../../../assets/jiu.png" >
        </span> -->
        <h4 class="service-heading">jiu jitsu</h4>
        <p class="text-muted">El jiu-jitsu brasileño (también llamado brazilian jiu-jitsu o BJJ)
           es un arte marcial, deporte de combate y sistema de defensa personal de desarrollo 
           brasileño de origen japonés, descendiente a la vez de las artes marciales de la India.</p>
      </div>
    </div>
  </div>
</section>








  <!-- Portfolio Grid -->
  <section class="bg-light page-section mt-5" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Conoce nuestas Instalaciones</h2>
            <h3 class="section-subheading text-muted">Tepeaca, Puebla.</h3>
          </div>
        </div>
        <div class="row">
     
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="../../../assets/ledosImagen.png" alt="">
                </a>
                <div class="portfolio-caption">
                  <h4>Excelente Tatami de MMA</h4>
                </div>
              </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../../../assets/jaula.png" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Jaula Profesional</h4>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="../../../assets/ledosSegundo.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Examen de Cintas</h4>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="../../../assets/caminadora.png" >
                </a>
                <div class="portfolio-caption">
                  <h4>Caminadoras Profesionales</h4>
                </div>
              </div>
      
          <div class="col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="../../../assets/fachada.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Excelente Ubicación</h4>
              </div>
            </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="../../../assets/bici.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Bicicleta Profesional</h4>
              </div>
            </div>
        </div>
      </div>
    </section>
    <br> <br><br><br>


<!-- <div class="jumbotron mt-3">

    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/cintasLedos.png"  width="1200" height="550">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/ledosImagen.png" width="1200" height="550">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/ledosSegundo.png"width="1200" height="550">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>






</div> -->