      <div class="container">
            <div class="col-md-12 mt-3">
                    <form class="form-horizontal" method="post">
                        <fieldset>
                            <legend class="text-center header">Mensaje</legend>
                            <div class="">
                                <table class="table table-striped">
                                  <tbody>
                                    <tr>
                                    <td><i class="fa fa-user bigicon"></i> Nombre: {{contacto.nombre}}</td>
                                    </tr>
                                    <tr>
                                      <td><i class="fa fa-envelope-open bigicon"></i>  Email: {{contacto.email}}</td>
                                    </tr>
                                    <tr>
                                      <td><i class="fa fa-question-circle bigicon" aria-hidden="true"></i> Asunto: {{contacto.asunto}}</td>
                                    </tr>
                                    <tr>
                                      <td>
                                          <i class="fa fa-comments bigicon" ></i>
                                        Mensaje: {{contacto.mensaje}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                        </fieldset>
                    </form>
                </div>
        </div>
        
      <br><br><br><br> <br><br><br><br><br><br><br>



