<section class="alumno"  class="mt-3">

  <div class="card" >  
    <h3>{{alumno.nombreC}}</h3>
  
      <div class="card_book   ">
          <div class="card border-light mb-3">
          <div class="card-body text-center border-light" >
              <p>
                <img class="img-fluid" src="{{alumno.photoUrl}}"  >
              </p>
          </div> 
          </div>
      </div> 
    </div>


    <div class="card text-white bg-dark text-center mt-3" >
      <h4>Detalles de Peleador</h4>
    </div>


<div class="izq" style="width: 34rem;">
<table class="table table-striped">
  <tbody>
    <tr>
    <td> Matricula: {{alumno.matricula}}</td>
    </tr>
    <tr>
      <td> Nombre: {{alumno.nombreC}}</td>
    </tr>
    <tr>
      <td> Fecha de Nacimiento: {{alumno.diaAlumno}}/{{alumno.mesAlumno}}/{{alumno.yearAlumno}}</td>
    </tr>
    <tr>
      <td>  Direccion: {{alumno.direccion}}</td>
    </tr>
    <tr>
      <td>Sexo: {{alumno.sexo}}</td>
    </tr>

    <tr>
      <td>Enlace: 

        <a class="btn btn-primary text-white" href="{{alumno.enlace}}">
          <i class="fab fa-facebook-f"></i>

        </a>
      </td>
    </tr>

     
  </tbody>
</table>
</div>

<div class="cont" style="width: 34rem;">
<table class="table table-striped">
  <tbody>
    
    <tr>
      <td>Apodo: {{alumno.apodo}}</td>
    </tr>
    <tr>
      <td> Grado: {{alumno.grado}}</td>
    </tr>
    <tr>
      <td>  Peso: {{alumno.peso}}</td>
    </tr>
    <tr>
      <td> Problemas de Salud: {{alumno.salud}}</td>
    </tr>
    <tr>
      <td>Victoria: {{alumno.gano}}, Derota: {{alumno.perdio}}, Empate: {{alumno.empte}}</td>
    </tr> 
   
  </tbody>
</table>
</div>







<section>
<div class="card text-white bg-dark text-center mt-3"  style="width: 70rem;">
  <h4>Datos del Profesor</h4>
</div>

</section>

<div class="izq" style="width: 34rem;">
<table class="table table-striped">
  <tbody>
    <tr>
    <td>Nombre: {{alumno.nombreProf}}</td>
    </tr>
    <tr>
      <td>Edad: {{alumno.edadProf}}</td>
    </tr>
    <tr>
      <td>Enlaces:  <a class="btn btn-primary text-white" href="{{alumno.enlaceProf}}">
        <i class="fab fa-facebook-f"></i>

      </a></td>
    </tr>
    
  </tbody>
</table>
</div>

<div class="cont" style="width: 34rem;">
<table class="table table-striped">
  <tbody>
  
    <tr>
      <td>Especialidad: {{alumno.especialidadProf}}</td>
    </tr>
    <tr>
      <td>Academia: {{alumno.academia}}</td>
    </tr>
    <tr>
      <td>Grado: {{alumno.gradoProf}}</td>
    </tr>
   
  </tbody>
</table>
</div>



