<section class="alumno" class="mt-5">

  <div class="card">
    <div class="card-body text-left">

      <h4 class="card-title">Matricula: {{alumno.matricula}}</h4>
      <p class="card-text">
        Nombre: {{alumno.nombreC}}
      </p>
      <p class="card-text">
        Fecha de Nacimiento: {{alumno.fNacimiento}}
      </p>
      <p class="card-text">
        Direccion: {{alumno.direccion}}
      </p>
      <p class="card-text">
        Sexo: {{alumno.sexo}}
      </p>
      <p class="card-text">
        Celular: {{alumno.cel}}
      </p>

    </div>
  </div>
</section>