<section class="alumno" class="mt-5">

  <div class="card">
    <div class="card-body text-left">
      <hr>
      <h4>Datos del Alumno</h4>
      <hr>
      <p class="card-text">
          Matricula: {{alumno.matricula}}
      </p>
      <p class="card-text">
        Nombre: {{alumno.nombreC}}
      </p>
      <p class="card-text">
        Fecha de Nacimiento: {{alumno.fNacimiento}}
      </p>
      <p class="card-text">
        Direccion: {{alumno.direccion}}
      </p>
      <p class="card-text">
        Sexo: {{alumno.sexo}}
      </p>
      <p class="card-text">
        Cel: {{alumno.cel}}
      </p>
      <p class="card-text">
        Apodo: {{alumno.apodo}}
      </p>
      <p class="card-text">
        Grado: {{alumno.grado}}
      </p>
      <p class="card-text">
        Peso: {{alumno.peso}}
      </p>
      <p class="card-text">
        Problemas de Salud: {{alumno.salud}}
      </p>
      <p class="card-text">
        enlace: {{alumno.enlace}}
      </p>
      <p class="card-text">
        perdio: {{alumno.perdio}}
      </p>
      <p class="card-text">
        empate: {{alumno.empate}}
      </p>
      <hr>
      <h4>Datos del Profesor</h4>
      <hr>
      <p class="card-text">
        nombreProf: {{alumno.nombreProf}}
      </p>
      <p class="card-text">
        edadProf: {{alumno.edadProf}}
      </p>
      <p class="card-text">
        sexoProf: {{alumno.sexoProf}}
      </p>
      <p class="card-text">
        direccionProf: {{alumno.direccionProf}}
      </p>
      <p class="card-text">
        enlaceProf: {{alumno.enlaceProf}}
      </p>
      <p class="card-text">
        telefonoProf: {{alumno.telefonoProf}}
      </p>
      <p class="card-text">
        especialidadProf: {{alumno.especialidadProf}}
      </p>
      <p class="card-text">
        academia: {{alumno.academia}}
      </p>
      <p class="card-text">
        gradoProf: {{alumno.gradoProf}}
      </p>
      <hr>
      <h4>Datos del Tutor</h4>
      <hr>
      <p class="card-text">
        tutor: {{alumno.tutor}}
      </p>
      <p class="card-text">
        direccionTutor: {{alumno.direccionTutor}}
      </p>
      <p class="card-text">
        telefonoTutor: {{alumno.telefonoTutor}}
      </p>


    </div>
  </div>
</section>